body {
    background-color: #f8f8f8;
}

.main_box {
    width: 258px;
    border: 1px solid lightgrey;
    margin: 3em auto 0.4em;
    padding: 2em 2.5em 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
}

.top_box h1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: 'Boogaloo', cursive;
    font-size: 3em;
}

.top_box h2 {
    margin: 1em auto;
    text-align: center;
    color: #929292;
    font-family: 'Roboto', sans-serif;
    font-size: 1.05em;
}

.details_box input {
    width: 236px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin: 0.25em 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f8f8f8;
}

input::placeholder {
    color: #a5a5a5;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}

.reg_confirm {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding: 0;
    border: 1px solid #009b00;
    border-radius: 6px;
    background-color: #38b000;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    transition: background-color 0.2s;
}

.reg_confirm:hover {
    cursor: pointer;
    background-color: rgba(56, 176, 0, 0.5);
}

.log_box {
    width: 266px;
    border: 1px solid lightgrey;
    margin: 0.4em auto 3em;
    padding: 0.5em 2.5em;
    background-color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

.log_box a {
    color: #0096c7;
}

.footer_bar {
    width: 50%;
    margin: 0 auto;
    color: #808080;
    font-family: 'Roboto', sans-serif;
}

.info_bar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: 0.8em;
}

.about {
    margin: 0 1em;
}

.copy_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.7em;
}

a {
    text-decoration: none;
    color: unset;
}

@media (max-width: 460px) {
    body {
        background-color: white;
    }

    .main_box {
        border: unset;
    }

    .log_box {
        border: unset;
    }

    .footer_bar {
        min-width: 332px;
    }

    .footer_bar div {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}